body
{
	background-color:#6495ed;
/*gradient(linear, left top, left bottom, color-stop(0%, #8be8cf), color-stop(100%, #cdeb8b));*/
	font-family: "Helvetica Neue", Helvetica, Arial;
	padding-top: 20px;

}


#signup
{
	padding: 0px 25px 25px;
	background: #fff;
	box-shadow: :
		0px 0px 0px 5px rgba(255,255,255,0.4);
		0px 4px 20px rgba(0,0,0,0.33);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display:table;
	position: static;
}


#signup .header
{
	margin-bottom: 20px;
}

#signup .header h3
{
	color: #333333;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 5px;
}

#signup .seperator
{
	height: 1px;
	background: #e8e8e8;
	width: 500px;
	margin: 20px 10px;
}

#signup .inputs
{
	color: #8f8f8f;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 1px;
	margin-bottom: 7px;
	display: block;
}

input::-webkit-input-placeholder
{
	color: #b5b5b5;
}

input:-moz-placeholder
{
	color: #b5b5b5;
}

#signup .inputs input[type=text], input[type=email], input[type=password]
{

	background: #f5f5f5;
	font-size: 0.8rem;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 0px;
	border: none;
	border-width: 1px;
	padding: 13px 10px;
	width: 500px;
	margin-bottom: 20px;
	box-shadow: inset 0px 2px 3px rgba(0,0,0,0.1);
	clear:both;
}


#signup .menu
{
	font-size:17px;
	font-weight: 300;
	color: #b5b5b5;
	width: 350px;
	background-color:#f5f5f5;
	height:45px;
	border:none;
	border-width:1px;
	padding: 13px 10px;
	box-shadow: inset 0px 2px 3px rgba(0,0,0,0.1);
}

#signup .menu:focus
{
	outline: solid;
	outline-width: 2px;
	outline-color: #fff38e; 
}

#signup .inputs input[type=text]:focus, input[type=email]:focus, input[type=password]:focus
{
	/*background: #fff;*/
	/*box-shadow: 0px 0px 0px 3px #fff, inset 0px 2px 3px rgba(0,0,0,0.2), 0px 5px 5px rgba(0,0,0,0.15);*/
	outline: solid;
	outline-color: #fff38e;
	outline-width: 2px;
}

#signup .inputs #submit
{
	width: 100%;
	margin-top: 20px;
	padding: 15px 0;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	background: -moz-linear-gradient
	(
		top,
		#fff 0%,
		#fff
	);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffa500),
		to(#f4a460));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #737b8d;
	-moz-box-shadow:
		0px 5px 5px rgba(000, 000, 000, 0.1),
		inset 0px 1px 0px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow:
		0px 0px 5px rgba(000, 000, 000, 0.1);
		inset 0px 1px 0px rgba(255, 255, 255, 0.5);
	box-shadow: 
		0px 5px 5px rgba(000, 000, 000, 0.1),
		inset 0px 1px 0px rgba(255, 255, 255, 0.5);
	text-shadow:
		0px 5px 5px rgba(000, 000, 000, 0.1),
		inset 0px 1px 0px rgba(255, 255, 255, 0.5);
	display: table;
	position: static;
	clear: both;
}

#signup .inputs p
{
	font-size: 15px;
	font-weight: 500;
}

#signup .inputs #submit:hover
{
	background: -moz-linear-gradient(
		top,
		#a4b0cb 0%
		#b9c5dd);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#a4b0cb)
		to(#b9c5dd));
}

.container
{
	width: 990px;
	max-width: 5000px;
	margin: auto 26%;
}